*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background:url(Netflix\ 1\ background\ image.jpg);
  background-size: cover;
  background-position: center;
}
.wrapper{
  width: 420px;
  background: #302f2f61;
  border: 2px solid rgba(255, 255, 255, .2);
  color: #fff;
  border-radius: 12px;
  padding: 30px 40px;
}